# Xcode files
*.xcuserdata
*.xcworkspace
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata

# Build files
build/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

oop_semester5_lab3.xcodeproj/
*.Assets.xcassets
Preview Content/Preview Assets.xcassets

